.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.react-chatbot-kit-chat-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-chatbot-kit-chat-inner-container {
  height: 90vh;
  width: 80%;
  background-color: #282c34;
  margin: auto;
}

.react-chatbot-kit-chat-header {
  background-color: #282c34;
}

.react-chatbot-kit-chat-message-container {
  overflow: auto;
  height: 80%;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 0;
  width: auto;
}

.react-chatbot-kit-chat-bot-message-container {
  margin: 30px 0;
}

.react-chatbot-kit-chat-input-container {
  width: 80%;
}