.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.react-chatbot-kit-chat-container {
  width: 80vw;
  margin-left: 150px;
}

.react-chatbot-kit-chat-inner-container {
  height: 80vh;
  background-color: #282c34;
}

.react-chatbot-kit-chat-header {
  background-color: #282c34;
}

.react-chatbot-kit-chat-message-container {
  overflow: auto;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 0;
  width: auto;
}